<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
</head>

<body>
    <h1>
        {% if selected_tool == 'format.py' %}
        Tool Create SQL
        {% elif selected_tool == 'index.py' %}
        Tool Redmine
        {% else %}
        Tools
        {% endif %}
    </h1>
    <form id="toolForm" method="post">
        <label for="tool_name">Tool Name:</label>
        <select id="tool_name" name="tool_name">
            <option value="home" {% if selected_tool=='home' %}selected{% endif %}></option>
            <option value="format.py" {% if selected_tool=='format.py' %}selected{% endif %}>Tool Create SQL</option>
            <option value="index.py" {% if selected_tool=='index.py' %}selected{% endif %}>Tool Redmine</option>
        </select>
        <button id="runButton" type="button">Run</button>
        <button id="wnButton" type="button">Tool Write Notes</button>
        <button id="copyButton" type="button">Copy to Clipboard</button>
        <button id="clearButton" type="button">Clear</button>
    </form>

    <div style="display: flex; justify-content: space-between;">
        <div style="margin-left: 20px; margin-top: 5px; padding-left: 2px;">
            <label style="margin-left: 20px; margin-top: 5px; padding-left: 2px;" for="result">Input:</label><br><br>
            <form id="csvForm" method="post">
                <textarea id="csv_data" name="csv_data" rows="15" cols="80">{{ csv_data or '' }}</textarea><br>
            </form>
        </div>
        <div>
            <label style="margin-left: 20px; margin-top: 5px; padding-left: 2px;" for="result">Result:</label><br>
            <pre id="resultContent"
                style="white-space: pre-wrap; padding-right: 5px;"><textarea id="csv_content" name="csv_content" rows="15" cols="80" readonly>{{ csv_content or '' }}</textarea></pre>
        </div>
    </div>

    <script>
        document.getElementById("clearButton").addEventListener("click", function () {
            // Clear the content of the textarea
            document.getElementById("csv_data").value = '';
        });
    </script>

    <script>
        document.getElementById("wnButton").addEventListener("click", function () {
            window.location.href = "/write-note";
        });
    </script>
    <script>
        document.getElementById("copyButton").addEventListener("click", function () {
            var csvContent = document.getElementById("csv_content").value;
            navigator.clipboard.writeText(csvContent)
                .then(function () {
                    console.log('CSV content copied to clipboard successfully!');
                })
                .catch(function (error) {
                    console.error("Error copying CSV content to clipboard: ", error);
                });
        });
    </script>

    <script>
        document.getElementById("tool_name").addEventListener("change", function () {
            var toolName = document.getElementById("tool_name").value;
            if (toolName === "format.py") {
                document.getElementById("csvForm").action = "/write-csv/format";
            } else if (toolName === "index.py") {
                document.getElementById("csvForm").action = "/write-csv-i/index";
            }
            else if (toolName === "home") {
                document.getElementById("csvForm").action = "/"
            }
            document.getElementById("csvForm").submit();
        });
    </script>

    <script>
        document.getElementById("runButton").addEventListener("click", function () {
            var toolName = document.getElementById("tool_name").value;
            if (toolName === "format.py") {
                document.getElementById("csvForm").action = "/write-csv/format";
            } else if (toolName === "index.py") {
                document.getElementById("csvForm").action = "/write-csv-i/index";
            }
            document.getElementById("csvForm").submit();
        });
    </script>


</body>

</html>